.a-button {
    background-color: var(--color-btn-primary-bg);
    color: var(--color-btn-primary-text);
    border: none;
    border-radius: var(--radius-card);
    width: 100%;
    padding: var(--sp-md);
    font-weight: var(--fw-regular);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-sm);
    cursor: pointer;
    transition: background 0.3s ease;
    margin: var(--space-4) 0;
}

.a-button:hover {
    background-color: var(--color-btn-primary-bg-hover);
}