/* ITCSS: Settings
   Global variables, color palettes, typography scales, z-indexes, etc.
*/
@import "./colors.css";
@import "./fonts.css";
@import "./typography.css";
@import "./spacing.css";
@import "./shapes.css";
